.width {
    width: 40%; /* Default width for larger screens */
}

@media (max-width: 576px) {
    /* Adjust the width for smaller screens (up to 576px) */
    .width {
        width: 85%;
    }
}

.snugglez-title {
    font-family: "Ink Free", bold;
    font-size: 30px;
}

.snugglez {
    font-family: "Ink Free", bold;
    font-size: 20px;
}

.navbar {
    background-color: #ffd480;
    color: black;
}

/* .goofball > h2 {
    background-color: yellow;
} */