{% extends "layout.html" %}

{% block title %}
    Shop
{% endblock %}

{% block main %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#">Pets</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#">Accessories & Food</a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="home">...</div>
        <div class="tab-pane container fade" id="menu1">...</div>
    </div>
{% endblock %}